html, body {
    height: 100%;
}

body {
    margin: 0;
    background-color: rgb(220, 216, 216);
}

.flex-container {
    display: flex;
}


.grid {
    margin: auto;
    height: 80%;
    aspect-ratio: 1 / 1;

    flex-direction: column;
}

.row {
    flex-grow: 1;
}

.square {
    flex-grow: 1;
    background-color: rgba(245, 245, 245, 0.924);
}


